{%- extends "layout.html" %}
{%- block content %}
<div class="container">
    <div class="step">
        <ol class="step-list">
            <li class="completed">おふたりの情報を入力<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li class="completed">入力内容を確認<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li class="active">はんこを確認<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li>カメラに向かって笑顔</li>
        </ol>
    </div>
    <h1 class="title">
        <span class="title_step">STEP3</span>婚姻届に押すはんこを確認しましょう
    </h1>
    <div class="main">
        <div>
            <p>夫になる人のはんこ</p>
            <img class="husband_stamp" src="/static/images/husband_last_name_img.png" alt="husband_last_name_img.png" width="320" height="320">
        </div>
        <div>
            <p>妻になる人のはんこ</p>
            <img class="wife_stamp" src="/static/images/wife_last_name_img.png" alt="wife_last_name_img.png" width="320" height="320">
        </div>
    </div>
    <div class="button">
        <div class="button-wrapper">
            <a href="/smilecamera" class="submit" onclick="setStampsToSession()">はんこを確定して次へ</a>>
        </div>
    </div>
    <!-- <button>はんこの画像を変更する</button> -->
</div>

<script src="static/js/confirm_stamps.js"></script>

{%- endblock %}
