{%- extends "layout.html" %}
{%- block content %}
<header><img src="../static/img/header-logo.png" alt="nikoha"></header>
<div class="container">
    <div class="step">
        <ol class="step-list">
            <li>おふたりの情報を入力<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li>入力内容を確認<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li>はんこを確認<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li>カメラに向かって笑顔</li>
        </ol>
    </div>
    <h1 class="title">
        婚姻届が完成しました！
    </h1>
    <div class="main download">
        <div class="download-wrapper">
            <img src="/static/img/created/result.png" alt="婚姻届" id="marriage_registration">
        </div>
    </div>
    <div class="button">
        <div class="button-wrapper">
            <a href="/static/img/created/result.pdf" class="submit" download onclick="moveToTop()">完成した婚姻届をダウンロード</a>
        </div>
    </div>
</div>

<script src="static/js/download.js"></script>
{%- endblock %}