{%- extends "layout.html" %}
{%- block content %}
<div id="cameraArea">
  <div class="shutterArea">
    <video id="camera" width="640" height="480" playsinline muted autoplay></video>
    <canvas id="canvas" width="640" height="480"></canvas> <!-- 顔枠用canvas -->
  </div>
    <div id="emoticonBar1"><span id="emoticon1">:|</span></div>
    <div id="emoticonBar2"><span id="emoticon2">:|</span></div>
</div>

<style>
    #cameraArea {
      position: relative;
      max-width: 640px;
      margin: 0 auto;
    }
    #camera {
      /* 左右反転 */
      transform: scale(-1, 1);
    }
    #canvas {
      position: absolute;
      left: 0;
      /* 左右反転 */
      transform: scale(-1, 1);
    }
    #emoticonBar1 {
      position: absolute;
      top: 0;
      left: -70px;
      width: 40px;
      height: 480px;
      border-right: #DDD solid 6px;
    }
    #emoticonBar2 {
      position: absolute;
      top: 0;
      right: -30px;
      width: 40px;
      height: 480px;
      border-right: #DDD solid 6px;
    }
    #emoticon1 {
      position: absolute;
      bottom: 0;
      right: -24px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #CCC;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      transform: rotate(90deg);
      transition: bottom 0.3s;
    }
    #emoticon2 {
      position: absolute;
      bottom: 0;
      right: -24px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #CCC;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      transform: rotate(90deg);
      transition: bottom 0.3s;
    }
    .shutterArea {
      animation: flash 0.3s linear;
      background-color: #000000;
      opacity: 0;
    }
    @keyframes flash {
      100% {
        opacity: 1;
      }
    }
</style>

<script src="static/js/face-api.min.js"></script>
<script src="static/js/smilecamera.js"></script>
<script src="static/js/shutterAction.js"></script>
{%- endblock %}
