{%- extends "layout.html" %}
{%- block content %}
<header><img src="../static/img/header-logo.png" alt="nikoha"></header>
<div class="container">
    <div class="step">
        <ol class="step-list">
            <li class="done">おふたりの情報を入力<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li class="done">入力内容を確認<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li class="done">はんこを確認<span class="step_icon"><img src="../static/img/arrow.png" alt="右矢印"></span></li>
            <li class="active">カメラに向かって笑顔</li>
        </ol>
    </div>
    <div class="main stampsheet">
        <div class="stampsheet-wrapper">
            <div class="stampsheet-content">
                <div class="frame hasband">
                    <img src="static/images/husband_last_name_img.png" alt="" class="stamp">
                </div>
                <div class="frame wife">
                    <img src="static/images/wife_last_name_img.png" alt="" class="stamp">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
$(function() {
    $('.stamp').on('transitionend', function () {
        console.log('ok');
        window.location.href = "/download";
    });
});
</script> -->
{%- endblock %}
