{%- extends "layout.html" %}
{%- block content %}
<div id="cameraArea">
    <video id="camera" width="640" height="480" playsinline muted autoplay></video>
    <canvas id="canvas"></canvas>
    <div id="emoticonBar"><span id="emoticon">:|</span></div>
</div>

<style>
    #cameraArea {
      position: relative;
      max-width: 640px;
      margin: 0 auto;
    }
    #canvas {
      position: absolute;
      left: 0;
    }
    #emoticonBar {
      position: absolute;
      top: 0;
      right: -30px;
      width: 40px;
      height: 480px;
      border-right: #DDD solid 6px;
    }
    #emoticon {
      position: absolute;
      bottom: 0;
      right: -24px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #CCC;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      transform: rotate(90deg);
      transition: bottom 0.3s;
    }
</style>
  
<script src="static/js/face-api.min.js"></script>
<script src="static/js/main.js"></script>
{%- endblock %}
